:host {
  top:0;
  left:0;
  height:100%;
  width: 100%;
  background-color: #18181B;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  
  path {
    transition: fill 1s;
  }

  .shadow {
    filter: drop-shadow(0px 10px 110px rgba(109, 40, 217, 0.8));
    animation: pulse 3s infinite;
  }
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0 10px  50px rgba(109, 40, 217, 0.5));
  }
  50% {
    filter: drop-shadow(0 10px 110px rgba(109, 40, 217, 0.9));
  }
  100% {
    filter: drop-shadow(0 10px  50px rgba(109, 40, 217, 0.5));
  }
}
